body {
    background: rgb(216, 218, 187);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 800px;
    margin:auto;

}

.photo {
        border-radius: 50%;
        border: 5px solid green;
        width: 100%
        ;
}

#title, .subtitle, .post_title {
color:darkgreen
}

a {
    text-decoration: line-through
    color black;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}
.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px ;

}

.post {
    background: rgb(216, 218, 187);
    padding: 20px;
    border: 5px solid  green  ;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-align:justify;
    
}

.post_image {
    margin-bottom: 15px;
    width: 100%;

}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}
.contacts_list li a {
    color: green
}
